{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<!-- <div class="slider main-slider">
  <div class="main-slider__img"><img src="{% static '/img/slickimg.png' %}" alt=""></div>
  <div class="main-slider__img"><img src="{% static '/img/slickimg.png' %}" alt=""></div>
</div> -->

<main class="page-main">
  <section class="section welcome">
    <article class="section__content welcome__content">
      <h2 class="title section__title">Welcome!</h2>
      <h3 class="subtitle section__subtitle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel inventore dolorem a.</h3>
      <p class="section__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci excepturi accusamus aspernatur? Rerum laborum possimus quam et voluptates voluptate accusantium porro eaque ad optio sit odio facere molestias iusto, a mollitia! Nobis amet numquam magnam sapiente dicta natus similique consectetur ex, voluptate dolore reprehenderit iusto temporibus excepturi autem ab quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci excepturi accusamus aspernatur? Rerum laborum possimus quam et voluptates voluptate accusantium porro eaque ad optio sit odio facere molestias iusto, a mollitia! Nobis amet numquam magnam sapiente dicta natus similique consectetur ex, voluptate dolore reprehenderit iusto temporibus excepturi autem ab quasi.          
      </p>
    </article>
  </section>
  <section class="features">
    <ul class="features__list features-list">
      <li class="features-list__item features-item color--yellow">
        <div class="features-item__content bgcolor--yellow">
          <h3 class="features-item__title">Computers</h3>
          <p class="features-item__subtitle">Lorem ipsum dolor sit.</p>
          <a href="" class="far fa-folder-open features-item__button"></a>             
        </div>
        <i class="fas fa-laptop features-item__icon features-item__icon--yellow"></i>
      </li>
      <li class="features-list__item features-item color--red">
        <div class="features-item__content bgcolor--red">
          <h3 class="features-item__title">Music</h3>
          <p class="features-item__subtitle">Lorem ipsum dolor sit.</p>
          <a href="" class="far fa-folder-open features-item__button"></a> 
        </div>
        <i class="fas fa-music features-item__icon features-item__icon--red"></i>
      </li>
      <li class="features-list__item features-item color--wave">
        <div class="features-item__content bgcolor--wave">
          <h3 class="features-item__title">Website</h3>
          <p class="features-item__subtitle">Lorem ipsum dolor sit.</p>
          <a href="" class="far fa-folder-open features-item__button"></a> 
        </div>
        <i class="fas fa-globe-americas features-item__icon features-item__icon--wave"></i>
      </li>
      <li class="features-list__item features-item color--green">
        <div class="features-item__content bgcolor--green features-item__content--left">
          <h3 class="features-item__title">Android App</h3>
          <p class="features-item__subtitle">Lorem ipsum dolor sit.</p>
          <a href="" class="far fa-folder-open features-item__button"></a> 
        </div>
        <i class="fab fa-android features-item__icon features-item__icon--green"></i>
      </li>
      <li class="features-list__item features-item color--blue">
        <div class="features-item__content bgcolor--blue features-item__content--left">
          <h3 class="features-item__title">ios App</h3>
          <p class="features-item__subtitle">Lorem ipsum dolor sit.</p>
          <a href="" class="far fa-folder-open features-item__button"></a>            
        </div>
        <i class="fab fa-apple features-item__icon features-item__icon--blue"></i>
      </li>
      <li class="features-list__item features-item color--navy">
        <div class="features-item__content bgcolor--navy features-item__content--left">
          <h3 class="features-item__title">Other</h3>
          <p class="features-item__subtitle">Lorem ipsum dolor sit.</p>
          <a href="" class="far fa-folder-open features-item__button"></a>
        </div>
        <i class="fas fa-ellipsis-h features-item__icon features-item__icon--navy"></i>
      </li>
    </ul>
  </section>
  <section class="section products">
    <article class="section__content products__content">
      <h2 class="section__title">Products</h2>
      <h3 class="section__subtitle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel inventore dolorem a.</h3>
      <ul class="product-list">
          {% for product in products  %}
        <li class="product-list__item product">
          <div class="product__img"><img src="{{ product.image.url }}" alt=""></div>
          <article class="product__content">
            <h3 class="title product__title">{{ product.name }}</h3>
            <p class="subtitle product__subtitle">{{ product.description }}</p>
            <p class="product__price">${{ product.price }}
                {% if product.old_price %}
                <span class="product__price-before">{{ product.old_price }}</span>
                {% endif %}
            </p>
            <button class="button bgcolor--wave product__buy"><i class="fas fa-shopping-cart"></i> +</button>
            <div class="product__other-buttons">
              <button class="button wishlist"><i class="fas fa-heart"></i> Add to wishlist</button>
              <button class="button compare"><i class="far fa-copy"></i> Add to compare</button>
            </div>
          </article>
        </li>
          {% endfor %}
      </ul>
    </article>
  </section>
  <section class="section counters">
    <article class="section__content counters__content">
        <h2 class="title section__title counters__title">Counters</h2>
        <ul class="counters__list counters-list">
          <li class="counters-list__item">
            <p class="counters-list__number">600</p>
            <h3 class="counters-list__title">Grape varieties</h3>
            <p class="counters-list__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, esse.</p>
          </li>
          <li class="counters-list__item">
            <p class="counters-list__number">50</p>
            <h3 class="counters-list__title">Suppliers</h3>
            <p class="counters-list__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, esse.</p>
          </li>
          <li class="counters-list__item">
            <p class="counters-list__number">30</p>
            <h3 class="counters-list__title">Countries</h3>
            <p class="counters-list__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, esse.</p>
          </li>
        </ul>
    </article>
  </section>
  <section class="section advantage">
    <article class="section__content advantage__content">
    <h2 class="title section__title advantage__title">Fast and reliable delivery services</h2>
    <ul class="advantage__list advantage-list">
      <li class="advantage-list__item">
        <div class="advantage-list__img fas fa-truck"></div>
        <div class="advantage-list__content">
          <h3 class="advantage-list__title">Making your life easier</h3>
          <p class="advantage-list__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam delectus molestiae a unde ipsam nam qui, quidem reiciendis hic blanditiis.</p>
        </div>
      </li>
      <li class="advantage-list__item">
        <div class="fas fa-plane advantage-list__img"></div>
        <div class="advantage-list__content">
          <h3 class="advantage-list__title">Providing qualitative services</h3>
          <p class="advantage-list__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam delectus molestiae a unde ipsam nam qui, quidem reiciendis hic blanditiis.</p>
        </div>
      </li>
      <li class="advantage-list__item">
        <div class="advantage-list__img fab fa-dropbox"></div>
        <div class="advantage-list__content">
          <h3 class="advantage-list__title">With no measures</h3>
          <p class="advantage-list__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam delectus molestiae a unde ipsam nam qui, quidem reiciendis hic blanditiis.</p>
        </div>
      </li>
      <li class="advantage-list__item">
        <div class="advantage-list__img fas fa-calculator"></div>
        <div class="advantage-list__content">
          <h3 class="advantage-list__title">Comfortable payment</h3>
          <p class="advantage-list__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam delectus molestiae a unde ipsam nam qui, quidem reiciendis hic blanditiis.</p>
        </div>
      </li>
    </ul>
    </article>
  </section>
  <div class="list-wrapper">
    <ul class="advantage__list other-advantage-list">
      <li class="other-advantage-list__item">
        <div class="other-advantage-list__head">
          <div class="other-advantage-list__img fas fa-calculator"></div>
          <h3 class="other-advantage-list__title">
            Delivery
            <span>costs</span>
          <h2 class="other-advantage-list__subtitle"></h2>
        </div>
        <div class="other-advantage-list__content">
          <p class="other-advantage-list__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam delectus molestiae a unde ipsam nam qui, quidem reiciendis hic blanditiis.</p>
          <a href="" class="other-advantage-list__more fas fa-angle-double-right color--white"></a>
        </div>
      </li>
      <li class="other-advantage-list__item bgcolor--yellow">
        <div class="other-advantage-list__head">
          <div class="other-advantage-list__img color--red far fa-clock"></div>
          <h3 class="other-advantage-list__title color--gray">
            Terms
            <span>of delivery</span>
          </h3>
        </div>
        <div class="other-advantage-list__content color--gray">
          <p class="other-advantage-list__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam delectus molestiae a unde ipsam nam qui, quidem reiciendis hic blanditiis.</p>
          <a href=""p class="other-advantage-list__more fas fa-angle-double-right color--red"></a>
        </div>
      </li>
      <li class="other-advantage-list__item">
        <div class="other-advantage-list__head">
          <div class="other-advantage-list__img fas fa-paper-plane"></div>
          <h3 class="other-advantage-list__title">
            Nearest
            <span>branch</span>
          </h3>
          <h2 class="other-advantage-list__subtitle"></h2>
        </div>
        <div class="other-advantage-list__content">
          <p class="other-advantage-list__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam delectus molestiae a unde ipsam nam qui, quidem reiciendis hic blanditiis.</p>
          <a href="" class="other-advantage-list__more fas fa-angle-double-right color--white"></a>
        </div>
      </li>
      <li class="other-advantage-list__item bgcolor--gray">
        <div class="other-advantage-list__head">
          <div class="other-advantage-list__img fas fa-phone"></div>
          <h3 class="other-advantage-list__title">
            Calling
            <span>courier</span>
          </h3>
          <h2 class="other-advantage-list__subtitle"></h2>
        </div>
        <div class="other-advantage-list__content">
          <p class="other-advantage-list__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam delectus molestiae a unde ipsam nam qui, quidem reiciendis hic blanditiis.</p>
          <a href="" class="other-advantage-list__more fas fa-angle-double-right color--white"></a>
        </div>
      </li>  
    </ul>
  </div>
  <section class="section other-info">
    <article class="other-info__article">
      <h2 class="other-info__title">
        About
        <span>our company</span>
      </h2>
      <p class="other-info__subtitle">Everything we do, we do for you</p>
      <p class="other-info__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente distinctio et maxime doloribus nihil esse cumque suscipit, mollitia aliquam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente distinctio et maxime doloribus nihil esse cumque suscipit, mollitia aliquam.</p>
      <p class="other-info__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur facere nulla vero, consectetur ex ipsa recusandae officiis est quod maxime.Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sapiente distinctio et maxime doloribus nihil esse cumque suscipit, mollitia aliquam.</p>
      <a href="" class="button bgcolor--wave other-info__more">Read more</a>
    </article>
    <article class="other-info__article">
      <h2 class="other-info__title">
        Delivery
        <span>solutions</span>
      </h2>
      <ol class="other-info__list other-info-list">
        <li class="other-info-list__item">Every day, more than 1,000 jorneys</li>
        <li class="other-info-list__item">More than 240 missions</li>
        <li class="other-info-list__item">29 sortings and distibution centers</li>
        <li class="other-info-list__item">More than 1 thousand employees</li>
      </ol>
    </article>
  </section>
</main>

{% endblock %}
