.title{
    color: aquamarine;
    text-align: center;
}

.button{
    width: 120px;
    padding: 10px;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s background-color, 0.5s color;
}
.button:hover{
    color: red;
    background-color: white;
}
.button:active{
    color: white;
    background-color: red;
}