{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="pop-up-sign sign-in">
        <div class="pop-up-sign__content">
            <h2 class="pop-up-sign__head">Sign In</h2>
            <form class="pop-up-sign__form login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.login }}{{ form.password }}
                <input class="button bgcolor--yellow" type="submit" value="Sign In">
            </form>
        </div>
    </div>
{% endblock %}


