{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="pop-up-sign sign-up">
        <div class="pop-up-sign__content">
            <h2 class="pop-up-sign__head">Sign Up</h2>
            <form class="signup pop-up-sign__form" id="signup_form" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.username }}{{ form.email }}{{ form.password1 }}{{ form.password2 }}
                <input class="button bgcolor--yellow" type="submit" value="Sign Up">
            </form>
        </div>
    </div>
{% endblock %}
