<footer class="page-footer">
  <ul class="page-footer__list footer-list">
    <li class="footer-list__item">
      <h3 class="title footer-list__title">Information</h3>
      <ul class="footer-nav">
        <li class="footer-nav__item"><a href="">About Us</a></li>
        <li class="footer-nav__item"><a href="">Delivery</a></li>
        <li class="footer-nav__item"><a href="">Privat Policy</a></li>
        <li class="footer-nav__item"><a href="">Terms & Conditions</a></li>
      </ul>
    </li>
    <li class="footer-list__item">
      <h3 class="title footer-list__title">Customer Service</h3>
      <ul class="footer-nav">
        <li class="footer-nav__item"><a href="">Contact Us</a></li>
        <li class="footer-nav__item"><a href="">Returns</a></li>
        <li class="footer-nav__item"><a href="">Site Map</a></li>
      </ul>
    </li>
    <li class="footer-list__item">
      <h3 class="title footer-list__title">Extras</h3>
      <ul class="footer-nav">
        <li class="footer-nav__item"><a href="">Brands</a></li>
        <li class="footer-nav__item"><a href="">Gift Vouchers</a></li>
        <li class="footer-nav__item"><a href="">Affiliates</a></li>
        <li class="footer-nav__item"><a href="">Specials</a></li>
      </ul>
    </li>
    <li class="footer-list__item">
      <h3 class="title footer-list__title">My Account</h3>
      <ul class="footer-nav">
        <li class="footer-nav__item"><a href="">My Account</a></li>
        <li class="footer-nav__item"><a href="">Order History</a></li>
        <li class="footer-nav__item"><a href="">Wish List</a></li>
        <li class="footer-nav__item"><a href="">Newsletter</a></li>
      </ul>
    </li>
  </ul>
  <div class="copy-follow">
    <div class="copy">
      <p class="copy__text">Theninehertz.com, eCommerece © 2015</p>
      <p class="copy__designed-by">
        Designed by <img src="./img/copy.png" alt="">
      </p>
    </div>
    <div class="follow">
      <p class="follow__text">Follow us</p>
      <ul class="follow_list follow-list">
        <li class="follow-list__item"><a class="fab fa-facebook-f" href=""></a></li>
        <li class="follow-list__item"><a class="fab fa-twitter" href=""></a></li>
        <li class="follow-list__item"><a class="fab fa-linkedin-in" href=""></a></li>
        <li class="follow-list__item"><a class="fab fa-google-plus-g" href=""></a></li>
        <li class="follow-list__item"><a class="fab fa-youtube" href=""></a></li>
      </ul>
    </div>
  </div>
</footer>