{% load static %}

  <header class="header page-header">
    <div class="header-upper">
      <h1 class="header-upper__logo">
        <a href="">
          <img src="{% static 'img/bag.png' %}" alt="">
          <p>Commerece</p>
        </a>
      </h1>
      <div class="header-upper__widget">
        <div class="search-wrapper">
          <input class="search-input" type="text" placeholder="Search">
          <button class="search-button" value="Search"><i class="fas fa-search"></i></button>
        </div>
        <input class="button button--blue signup-button" type="button" value="Sign Up" onclick="togglePopUp(signup)">
      </div>
    </div>
    <nav class="main-nav">
      <ul class="nav-list">
        <li class="nav-list__item item-home"><a href=""><i class="fas fa-home"></i></a></li>
        <li class="nav-list__item dropdown">Shop by Category <i class="fas fa-angle-down"></i>
          <ul class="dropdown__menu">
              <li class="dropdown__item"><a href="#">Пункт1</a></li>
              <li class="dropdown__item"><a href="#">Пункт2</a></li>
              <li class="dropdown__item"><a href="#">Пункт3</a></li>
          </ul>
        </li>
        <li class="nav-list__item dropdown">Shop by Brand <i class="fas fa-angle-down"></i>
            <ul class = "dropdown__menu">
              <li class="dropdown__item"><a href="#">Пункт1</a></li>
              <li class="dropdown__item"><a href="#">Пункт2</a></li>
              <li class="dropdown__item"><a href="#">Пункт3</a></li>
          </ul>
        </li>
        <li class="nav-list__item"><a href="">Tranding</a></li>
        <li class="nav-list__item"><a href="">Offers</a></li>
        <li class="nav-list__item"><a href="">Contact us</a></li>
        <li class="nav-list__item"><a href="">Разработчики</a>

        </li>
        <li class="nav-list__item item-buttons">
          <button class="button button--yellow" href=""><i class="fab fa-opencart"></i> Cart 0</button><button class="button button--blue" href="" onclick="togglePopUp(signin)"><i class="far fa-user"></i> Sign in</button>
        </li>
      </ul>
    </nav>
  </header>