{% load static %}
<header class="header page-header" name="top">
  <div class="header-upper">
    <h1 class="header-upper__logo">
      <a href="">
        <img src="{% static 'img/bag.png' %}" alt="">
        <p>Commerece </p>
      </a>
    </h1>
    <div class="header-upper__widget">
      <div class="search-wrapper">
        <input class="search-input" type="text" placeholder="Search">
        <button class="search-button" value="Search"><i class="fas fa-search"></i></button>
      </div>
        <a class="button signup-button bgcolor--wave" type="button" href="{% url 'account_signup' %}">Sign Up</a>
    </div>
  </div>
  <nav class="main-nav">
    <ul class="nav-list">
      <li class="nav-list__item item-home"><a href=""><i class="fas fa-home"></i></a></li>
      <li class="nav-list__item dropdown"><a class="dropdown__btn" href="#">Shop by Category <i class="fas fa-angle-down"></i></a>
        <ul class="dropdown__menu dropdown__menu--hide">
          <li class="dropdown__item"><a href="/admin">Пункт1</a></li>
          <li class="dropdown__item"><a href="#">Пункт2</a></li>
          <li class="dropdown__item"><a href="#">Пункт3</a></li>
        </ul>
      </li>
      <li class="nav-list__item dropdown"><a class="dropdown__btn" href="#">Shop by Brand <i class="fas fa-angle-down"></i></a>
        <ul class = "dropdown__menu dropdown__menu--hide">
          <li class="dropdown__item"><a href="#">Пункт1</a></li>
          <li class="dropdown__item"><a href="#">Пункт2</a></li>
          <li class="dropdown__item"><a href="#">Пункт3</a></li>
        </ul>
      </li>
      <li class="nav-list__item"><a href="">Tranding</a></li>
      <li class="nav-list__item nav-list__item--new"><a href="">Offers</a></li>
      <li class="nav-list__item"><a href="">Contact us</a></li>
      <li class="nav-list__item item-buttons dropdown basket-container">
          <p class="button bgcolor--yellow" href=""><i class="fab fa-opencart"></i> Cart  <span id="basket_total">
              {% if products_total %}
                  {{ products_total }}
              {% else %}
                  0
              {% endif %}
          </span></p>
            <ul class="dropdown__menu basket-items">
                {% for product_in_basket in products_in_basket %}
                    <li class="dropdown__item basket__item">{{ product_in_basket.product.name }} ${{ product_in_basket.product.price }} <a class="devare-item fas fa-times" href=""></a></li>
                {% endfor %}
            </ul>
      </li>
      <li class="nav-list__item item-buttons">
        <a class="button bgcolor--wave" href="{% url 'account_login' %}"><i class="far fa-user"></i> Sign in</a>
      </li>
    </ul>
    <!-- <ul>
      <li class="nav-list__item dropdown basket-container">
          <a class="button bgcolor--yellow" href=""><i class="fab fa-opencart"></i> Cart  <span id="basket_total"></span></a>
            <ul class="dropdown__menu basket-items">
            </ul>
      </li>
      <li class="nav-list__item">
        <a class="button bgcolor--wave" href="{% url 'account_login' %}"><i class="far fa-user"></i> Sign in</a>
      </li>
    </ul> -->
  </nav>
  <button class="button button-menu" onclick="smallMenu(navList)"><i class="fas fa-bars"></i></button>
  <nav class="main-nav--small">
      <ul class="nav-list">
        <li class="nav-list__item item-home"><a href=""><i class="fas fa-home"></i></a></li>
        <li class="nav-list__item dropdown">Shop by Category <i class="fas fa-angle-down"></i>
          <ul class="dropdown__menu">
            <li class="dropdown__item"><a href="#">Пункт1</a></li>
            <li class="dropdown__item"><a href="#">Пункт2</a></li>
            <li class="dropdown__item"><a href="#">Пункт3</a></li>
          </ul>
        </li>
        <li class="nav-list__item dropdown">Shop by Brand <i class="fas fa-angle-down"></i>
          <ul class = "dropdown__menu">
            <li class="dropdown__item"><a href="#">Пункт1</a></li>
            <li class="dropdown__item"><a href="#">Пункт2</a></li>
            <li class="dropdown__item"><a href="#">Пункт3</a></li>
          </ul>
        </li>
        <li class="nav-list__item"><a href="">Tranding</a></li>
        <li class="nav-list__item nav-list__item--new"><a href="">Offers</a></li>
        <li class="nav-list__item"><a href="">Contact us</a></li>
        </li>
        <!-- <li class="nav-list__item item-buttons">
{#          <a class="button bgcolor--yellow" href=""><i class="fab fa-opencart"></i> Cart</a><a class="button bgcolor--wave" href="{% url 'account_login' %}"><i class="far fa-user"></i> Sign in</a>#}
        </li> -->
      </ul>
    </nav>
</header>